<%- include('partials/header')-%>
<%= %>
    <h1>Home</h1>
    <p>
        <%= homeStartingContent%>
    </p>
    <% arr.forEach(itr=>{%>
        <h1>
          <a href="<%= '/posts/'+ lodash.kebabCase(itr.Title) %>"  >  <%= itr.Title%> </a>
        </h1>
        <p>
            <%= itr.Content.substring(0,100)%>... <a href="<%= '/posts/'+ lodash.kebabCase(itr.Title) %>" style="color:#144272">Read more</a>
        </p>
        <%})%>
            <%- include('partials/footer')-%>